<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CarsInfoEntities" connectionString="metadata=res://*/CarBrandEntityModel.csdl|res://*/CarBrandEntityModel.ssdl|res://*/CarBrandEntityModel.msl;provider=System.Data.SqlClient;provider connection string='data source=.\SQLEXPRESS;attachdbfilename=&quot;C:\Users\Vinayak\Documents\Visual Studio 2010\WebSites\CarData\App_Data\CarsInfo.mdf&quot;;integrated security=True;user instance=True;multipleactiveresultsets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>